<a href="https://colab.research.google.com/github/YOUNGitacina/Data-mining-course/blob/main/tweet_project/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bots in Twitter

## Set the environment

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import dask.dataframe as dd

from collections import defaultdict
from scipy.stats.stats import pearsonr

## Loading the dataset

In [6]:
df = pd.read_csv('/content/drive/MyDrive/dataset/tweets.csv')

In [7]:
print(df.head()) #print the first records of a df, 
print()
print(df.tail()) #print the last records of a df.

                   id     user_id retweet_count reply_count favorite_count  \
0  509354017856950272   327746321             0           0              0
1  583002592529121280   333722906             1           0              0
2  461498835362013185  2379755827             0           0              0
3  528808127366692864   466226882             0           0              0
4  575336690904006656  1355537995           114           0              0

  num_hashtags num_urls num_mentions           created_at  \
0            0        0            0  2019-09-11 14:53:55
1            0        0            1  2020-04-01 20:27:04
2            0        0            1  2019-05-02 13:34:31
3            0        0            0  2019-11-04 07:17:37
4            1        0            1  2020-03-11 16:45:31

                                                text
0  If man is a little lower than angels, then ang...
1  "@BestWSHHVids: how do you say these words wit...
2                                @LOLatComedy awsome
3  Stephen Hawkins: i buchi neri non esistono se ...
4        RT @tibbs_montris: So ready for Wednesday!

                          id     user_id retweet_count reply_count  \
13664691  588535254207467520   587491046             0           0
13664692  580420653666402304  1414080518             0           0
13664693     718157017970961    91781300             0         NaN
13664694  441301348676415488   127895572             0           0
13664695  486479812614451200   465421036             3           0

         favorite_count num_hashtags num_urls num_mentions  \
13664691              0            0        0            1
13664692              1            0        0            1
13664693        l25suv5          NaN      0.0          NaN
13664694              1            1        0            0
13664695              4            0        0            0

                   created_at  \
13664691  2020-04-17 02:51:53
13664692  2020-03-25 17:27:22
13664693  2016-07-10 22:43:09
13664694  2019-03-07 19:56:55
13664695  2019-07-10 12:00:00

                                                       text
13664691  @warriors Congrats, maybe I'll be able to get ...
13664692                                   @DaddieEzme fr??
13664693                                                NaN
13664694   Shooting crew of porn movies. #TheWorstJobToHave
13664695  Qualcuno dovrÃ  pur dire a quelli che "Twitter...

In [8]:
df.dtypes

id                object
user_id           object
retweet_count     object
reply_count       object
favorite_count    object
num_hashtags      object
num_urls          object
num_mentions      object
created_at        object
text              object
dtype: object

##Types of attributes and basic checks

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13664696 entries, 0 to 13664695
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   user_id         object
 2   retweet_count   object
 3   reply_count     object
 4   favorite_count  object
 5   num_hashtags    object
 6   num_urls        object
 7   num_mentions    object
 8   created_at      object
 9   text            object
dtypes: object(10)
memory usage: 1.0+ GB

##Data Integration

In [10]:
df_user = pd.read_csv('/content/drive/MyDrive/dataset/users.csv')
df_user.head()

           id              name lang  bot           created_at  statuses_count
0  2353593986   Lamonica Raborn   en    1  2019-02-22 18:00:42            76.0
1  2358850842     Lourie Botton   en    0  2019-02-26 03:02:32            54.0
2   137959629  Dadan Syarifudin   en    1  2015-04-30 07:09:56             3.0
3   466124818    Carletto Focia   it    1  2017-01-18 02:49:18            50.0
4  2571493866         MBK Ebook   en    0  2019-06-18 19:30:21          7085.0

In [ ]:
j_df = df.join(df_user, on='id')
i_df

ValueError: ignored